{% load static%}
<div class="sffg-footer">
    <span class="sffg-text163"><span>NGO</span></span>
    <span class="sffg-text165"><span>Contact us</span></span>
    <span class="sffg-text167"><span>Operating Hours</span></span>
    <span class="sffg-text169"><span>About us</span></span>
    <span class="sffg-text171">
      <span>bhtyalphonce412@gmail.com</span>
    </span>
    <span class="sffg-text173">
      <span>Mon - Fri: 8:00 am - 5:00 pm</span>
    </span>
    <span class="sffg-text175"><span>Sat - Sun: Closed</span></span>
    <span class="sffg-text177"><span>+255626835923</span></span>
    <span class="sffg-text179">
      <span>33215 Magaka_Ilemela,</span>
      <br />
      <span>Mwanza, Tanzania</span>
    </span>
    <span class="sffg-text183"><span>Project</span></span>
    <span class="sffg-text185"><span>Contact us</span></span>
    <div class="sffg-social-icons-container">
      <div
      class="sffg-section-list-social-bar-item-link-instagramwowimage01c3a"
    ></div>
    <div
      class="sffg-section-list-social-bar-item-link-facebookwowimage0fdef7"
    ></div>
    
    </div>
    <img
      alt="Logo4x16619"
      src="{% static 'img/logo4x16619-7upr-200w.png' %}"
      class="sffg-logo4x11"
    />
  </div>
  <div class="sffg-frame294">
    <div class="sffg-copyright">
      <span class="sffg-text187">
        <span>Copyright SmileForFutureGeneration.</span>
      </span>
    </div>
    <img
      alt="Ellipse1076643"
      src="{% static 'img/ellipse1076643-dav-200h.png' %}"
      class="sffg-ellipse107"
    />
    <span class="sffg-text189">c</span>
  </div>
  