{% load static %}
<div  id = "about_us" class="sffg-aboutus">
    <div class="sffg-frame3001">
      <span class="sffg-text100">
        <span>
          "Smile for Future Generation" is situated in the Ilemela
          district, Mwanza City Council, specifically in Magaka village.
        </span>
        <br />
        <span>
          Recognizing the essential role of the education sector in
          realizing the country's vision of industrialization and
          economic development, and consequently improving the quality
          of life, the organization aims to contribute to this vision.
          Despite the government of Tanzania's efforts to enhance
          education services by providing free education in primary and
          secondary schools, there remain marginalized and vulnerable
          children who do not fully benefit from this opportunity.
        </span>
        <br />
        <span></span>
        <br />
        <span>
          To address this gap, it is crucial for non-state actors to
          collaborate and complement the government's efforts in
          improving educational services for children, particularly
          those from vulnerable families, especially in rural areas
          where many are disadvantaged. This collaborative effort will
          involve implementing innovative ideas tailored to respective
          communities, ensuring equitable access to education services
          for children aged 6 to 18 years old.
        </span>
      </span>
    </div>
    <img
      alt="Africa4x16584"
      src="{% static 'img/africa4x16584-zbp-700h.png' %}"
      class="sffg-africa4x1"
    />
    <span class="sffg-text108"><span>Who we are</span></span>
    <img
      alt="IMAGE74x36635"
      src="{% static 'img/image74x36635-cmuq-500h.png' %}"
      class="sffgimage74x3"
    />
    <span class="sffg-text110"><span>Mwanza</span></span>
    <img
      alt="Star76635"
      src="{% static 'img/star76635-bny.svg' %}"
      class="sffg-star7"
    />
    <span class="sffg-text112"><span>TANZANIA</span></span>
    <span class="sffg-text114">
      <span>Victoria</span>
      <br />
      <span>Lake</span>
    </span>
  </div>