{% load static %}
<style>
 
</style>
<div class="sffg-container">
    <div class="sffgsffg">
      {% include 'smilehub/snippets/aboutus_snippet.html'  %}
      {% include 'smilehub/snippets/home_snippet.html'  %}
      {% include 'smilehub/snippets/contactus_snippet.html'  %}
      {% include 'smilehub/snippets/ourstory_snippet.html'  %}
      {% include 'smilehub/snippets/carusel_snippet.html'  %}
      
      {% include 'smilehub/snippets/empowring_snippet.html'  %}
      
      {% include 'smilehub/snippets/projects_snippet.html'  %}
      
      {% include 'smilehub/snippets/navbar_snippet.html'  %}
       </div>
  </div>