{% load static %}
<div class="sffg-photo-carusel">
    <div class="sffg-carusel">
      <img
        alt="Rectangle51I6617"
        src="{% static 'img/rectangle51i6617-idb-400h.png' %}"
        class="sffg-rectangle51"
      />
      <img
        alt="Rectangle52I6617"
        src="{% static 'img/rectangle52i6617-8i4j-400h.png' %}"
        class="sffg-rectangle52"
      />
      <img
        alt="Rectangle53I6617"
        src="{% static 'img/rectangle53i6617-vn8a-400h.png' %}"
        class="sffg-rectangle53"
      />
      <img
        alt="Rectangle54I6617"
        src="{% static 'img/rectangle54i6617-gdz-400h.png' %}"
        class="sffg-rectangle54"
      />
      <img
        alt="Rectangle55I6617"
        src="{% static 'img/rectangle55i6617-dx8h-400h.png' %}"
        class="sffg-rectangle55"
      />
      <img
        alt="Rectangle56I6617"
        src="{% static 'img/rectangle56i6617-946i-400w.png' %}"
        class="sffg-rectangle56"
      />
      <img
        alt="Rectangle57I6617"
        src="{% static 'img/rectangle57i6617-y8kk-400w.png' %}"
        class="sffg-rectangle57"
      />
      <img
        alt="Rectangle58I6617"
        src="{% static 'img/rectangle58i6617-e10d-400w.png' %}"
        class="sffg-rectangle58"
      />
      <img
        alt="Rectangle59I6617"
        src="{% static 'img/rectangle59i6617-1evh-400w.png' %}"
        class="sffg-rectangle59"
      />
      <img
        alt="Rectangle60I6617"
        src="{% static 'img/rectangle60i6617-m77-400w.png' %}"
        class="sffg-rectangle60"
      />
      <img
        alt="Rectangle61I6617"
        src="{% static 'img/rectangle61i6617-hocb-400w.png' %}"
        class="sffg-rectangle61"
      />
    </div>
  </div>