{% load static %}
     <div id="home" class="sffg-home">
        <img
          alt="ppp74x16664"
          src="{% static 'img/ppp74x16664-4dts-700h.png' %}"
          class="sffg-ppp74x1"
        />
        <img
          alt="jav4x6669"
          src="{% static 'img/jav4x6669-ta28-500h.png' %}"
          class="sffg-jav4x"
        />
        <img
          alt="gav4x6669"
          src="{% static 'img/gav4x6669-0i2-200w.png' %}"
          class="sffg-gav4x"
        />
        <img
          alt="lav4x6669"
          src="{% static 'img/lav4x6669-oxej-500h.png' %}"
          class="sffg-lav4x"
        />
        <img
          alt="pav4x6669"
          src="{% static 'img/pav4x6669-1w5r-200w.png' %}"
          class="sffg-pav4x"
        />
        
        <div class="sffg-group2">
          <span class="sffg-text134">
            <span>smile for future</span>
            <br />
            <span>generation</span>
          </span>
          <span class="sffg-text138">
            <span>Matthew 18:1-5</span>
            <br />
            <span>
              At that time the disciples came to Jesus, saying, "Who then is
              greatest in the Kingdom of Heaven?" Then Jesus called a little
              child to Him, set him in the midst of them, and said,
              "Assuredly, I say to you, unless you are converted and become
              as little children, you willl by no means enter the Kingdom of
              Heaven.
            </span>
            <br />
            <span>
              Therefore whoever humbles himself as this little child is the
              greatest in the Kingdom of Heaven. Whoever receives one little
              child like this in My name receives Me.
            </span>
            <br />
            <span></span>
            <br />
            <span>
              2.Proverbs 22:6 Train up a child in the way he should go, And
              when he is old he will not depart from it.
            </span>
          </span>
        </div>
      </div>
 