{% load static %}
<div class="sffg-navbar">
  <a href = "#about_us" onclick="scrollToSection(event, 'about_us')"> <span class="sffg-text208"><span>About us</span></span></a>
  <a href = "#project" onclick="scrollToSection(event, 'project')"><span class="sffg-text210"><span>Project</span></span></a>
  <a href = "#home" onclick="scrollToSection(event, 'home')"><span class="sffg-text212"><span>Home</span></span></a>
  <img
    alt="Logo4x16602"
    src="{% static 'img/logo4x16602-46fg-200w.png' %}"
    class="sffg-logo4x12"
  />
  <div class="sffg-frame2953">
      <a href = "#contact" onclick="scrollToSection(event, 'contact')" ><span class="sffg-text214"><span>Contact us</span></span></a>
  </div>
  <div class="sffg-frame293">
    <span class="sffg-text216"><span>Donate</span></span>
  </div>
  
</div>