{% load static %}
<div class="sffg-ourstory">
    <span class="sffg-text118"><span>our story</span></span>
    <img
      alt="Rectangle626632"
      src="{% static 'img/rectangle626632-nzkw11e-700h.png' %}"
      class="sffg-rectangle62"
    />
    <div class="sffg-frame3002">
      <div class="sffg-frame297">
        <span class="sffg-text120">
          <span>
            Bahati Alphonce, the founder and CEO of the organization
            "Smile For Future Generation," was born in a remote village
            being the first born in the family of 13 children from one
            mother. He experienced a challenging life in pursuit of
            education, but by grace of God, he completed primary
            education and enrolled in secondary education. With
            exceptional academic abilities, he consistently ranked first
            in his class throughout the four years of secondary
            education. Due to poverty, he faced challenges obtaining his
            certificate and, fortunately, the headteacher generously
            provided him with the completion certificate for secondary
            school based on his outstanding performance.
          </span>
          <br />
          <span>
            He continued his education in high school and eventually
            joined the College of Education at the University of Dar es
            Salaam in Tanzania. While at college in 2018, his uncle
            suffered a tragic motorcycle accident and passed away,
            leaving behind five children. They sought help for essential
            school supplies such as backpacks, pens, and uniforms from
            relatives, including Bahati. However, due to severe poverty,
            their pleas often went unanswered. Some children were forced
            to quit school and became street children. In 2020, another
            relative, his brother's father, died due to COVID-19,
            leaving three children in a similar situation.
          </span>
          <br />
          <span>
            These heartbreaking events prompted Bahati to question how
            many children were facing similar circumstances that he
            hadn't heard of. He wondered how many children had abandoned
            education due to a lack of school necessities, turning to
            life on the streets.
          </span>
          <br />
          <span>
            In August 2020, Bahati took action by creating awareness
            about the importance of education in his community. Despite
            the lack of resources and a physical building, he
            established Gladness School Ministry at home, bringing
            positive change to parents and children regarding the
            significance of education. In August 2023, he officially
            founded the NGO "Smile For Future Generation" with the
            registration number NGO/R/5028, receiving approval from the
            Ministry of Health, Gender, Children, and the Elderly. The
            NGO aims to help children from vulnerable families in
            Tanzania, recognizing that education opens minds and
            self-awareness, and knowledge is the source of wisdom.
          </span>
          <br />
          <span>
            As the director of Smile For Future Generation, Bahati
            undertakes various roles to ensure the organization is
            active and progressing to reach disadvantaged children
            lacking educational resources and facilities. His
            responsibilities include presiding over general meetings,
            serving as the organization's spokesman, acting as a
            signatory to the bank account, overseeing daily activities,
            and mobilizing and reporting financial resources.
          </span>
          <br />
          <span>
            The director welcomes collaboration with individuals,
            companies, and education stakeholders from all nations who
            are touched and willing to work together to help children
            access education.
          </span>
          <br />
          <span>
            Proverb 4:13,"Hold on to instructions do not let go ,guard
            it well for it is your life"
          </span>
        </span>
      </div>
    </div>
     </div>
  
