{% load static %}
<div id = "project" class="sffg-project">
    <span class="sffg-text192">
      <span class="sffg-text193">
        Smile For Future Generation is on a mission to build a dedicated
        school for children in Tanzania, ensuring they receive education
        in a secure and conducive environment. We believe every child
        deserves a chance at a brighter future, and your support is
        crucial in achieving this goal. Your donation, no matter the
        size, serves as a catalyst for change, propelling us closer to
        constructing a transformative space where these young minds can
        thrive. Join us in making a difference – together, we can
        empower these children with the education they deserve.
      </span>
      <br />
      <span class="sffg-text195"></span>
      <br />
      <span class="sffg-text197"></span>
      <span class="sffg-text198">
        Your Contribution Matters: Building Hope, One Step at a Time
      </span>
      <br />
      <span class="sffg-text200"></span>
      <span>
        Help us turn dreams into reality by supporting our mission.
        Every donation contributes to the construction of a school
        building, providing a foundation for learning and growth.
        Whether through financial assistance, volunteering, or spreading
        awareness, your involvement matters. Together, we can create a
        lasting impact and offer these children the promise of a better
        tomorrow. Smile For Future Generation invites you to be a part
        of this journey – your contribution is a step forward in
        building hope for the future of these deserving children.
      </span>
    </span>
    <span class="sffg-text202"><span>what we do</span></span>
    <span class="sffg-text204">
      <span>
        "Brick by Brick, Smile by Smile: Support Our Cause to Build a
        Bright Future for Tanzanian Children – Your Donation Transforms
        Dusty Desks into Classroom Dreams!"
      </span>
    </span>
    <img
      alt="Rectangle636643"
      src="{% static 'img/rectangle636643-3gto-700w.png' %}"
      class="sffg-rectangle63"
    />
    <img
      alt="Rectangle646643"
      src="{% static 'img/rectangle646643-v2u-600w.png' %}"
      class="sffg-rectangle64"
    />
    <div class="sffg-frame2962">
      <span class="sffg-text206"><span>Donate</span></span>
    </div>
  </div>